@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Karla:wght@500&family=Marcellus&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

article p {
    margin-bottom: 0.8em;
}

article a {
    text-decoration: underline;
}

article hr {
    margin: 2rem 0 2rem 0;
}

@layer base {
    #sidenote a {
        text-decoration: underline;
    }
    ul {
        list-style-type: disc;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    ul li {
        padding-left: 0.5rem;
    }
    li ul {
        margin-bottom: 0;
    }
    ol {
        list-style-type: decimal;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    ol li {
        padding-left: 0.5rem;
    }
    #TableOfContents ul {
        padding-left: 1rem;
        list-style-type: upper-roman;
    }
    #TableOfContents ul li ul{
        padding-left: 1rem;
        list-style-type: lower-latin;
    }
}
